services:

  maelstro-front:
    build:
      context: ./frontend

  maelstro-back:
    build:
      context: ./backend
      target: server
    volumes:
      - ./backend:/app
      - ./config/:/etc/maelstro/:ro
    environment:
      MAELSTRO_CONFIG: /app/dev_config.yaml
