services:

  maelstro-front:
    build:
      context: ./frontend

  maelstro-back:
    build:
      context: ./backend
      target: server
    volumes:
      - ./backend:/app
      - ./config/:/etc/maelstro/:ro
    environment:
      MAELSTRO_CONFIG: /app/dev_config.yaml

  check:
    profiles:
      - check
    build:
      context: ./backend
      target: check
    environment:
      MAELSTRO_CONFIG: /app/tests/test_config.yaml
      LOCAL_LOGIN: testadmin
      LOCAL_PASSWORD: testadmin
    volumes:
      - ./backend:/app

    
